.panel-info .panel-heading {
    background: #002060 !important;
}

.panel-info .panel-heading a{
    color: white;
}

.panel-info .panel-heading ::after{
    color: white !important;
}

.panel.panel-info{
    border-color: #002060;
}

form label.required:after{
    color: #FF0000;
    content: " *";
}

form button.required:after{
    color: #FF0000;
    content: " *";
}

#btn_carregarAssinante_15,#btn_incluirAssinante_15,#btn_CarregarProceso_00{
    margin-top: 25px;
}

p{
    text-align: center;
    background-color: #002060;
    color: white;
    margin-top: 10px;
}

.colunaP{
    padding-top: 10px;
}

div#div_24 td.col-sm-1{
    text-align: center;
}

div#div_24 td.col-sm-1 input{
    margin-top: 25px;
}

/* td { */
    /* border-top: solid !important;
    padding-right: 28px !important; */
/* } */

.table1_02 td, #div_19 td, #div_20 td, #div_21 td,#div_22 td,#div_23 td,#div_24 td{
    border: none !important;
}

#div_17 tr {
    border: solid 2px #002060 !important;
}

#div_17 fieldset div {
    max-width: 100%;
    padding-left: 0.5%;
}

.row-btns{
    text-align: center;
    margin-top: 15px;
}